.navbar {
  height: 50px;
  background-image: url("https://media2.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  /* background-image: url("https://media2.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif");
  background-size: cover; */
  background-color: #00000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo {
  font-weight: 600;
  font-size: 25pt;
  color: white;
}

.navButton {
  margin-left: 20px;
  border: solid 1px;
  padding: 5px 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #ffffff4b;
  border-radius: 5%;
}
.navButton:hover {
  margin-left: 20px;
  border: solid 1px;
  padding: 5px 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #ffffff4b;
  border-radius: 5%;
  animation-name: nav-button-hover;
  animation-duration: 1s;
}
@keyframes nav-button-hover {
  from {
    background-color: #ffffff4b;
  }
  to {
    background-color: #0000004c;
  }
}
